@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.selected-option {
  background-color: rgba(126, 126, 126, 0.2);
}

.form {
  @apply flex flex-col sm:w-[36rem] md:self-center [&>*]:border [&>*]:border-l-4 gap-8 mb-8 [&>*]:p-6  [&>*]:rounded-lg;
}

.question {
  @apply border border-l-4 gap-8 mb-8 p-6  rounded-lg bg-white;
}

.form-header {
  @apply border-t-8  border-t-purple-800 rounded-lg p-6;
}

.title {
  @apply text-xl font-semibold;
}

.form-settings {
  @apply flex sm:items-center justify-between sm:flex-row flex-col gap-4;
}

.focus-border-left {
  @apply focus-within:border-l-4 focus-within:border-l-blue-600;
}

.focus-border-bottom {
  @apply border-b-2 border-transparent focus-within:border-b-2 focus-within:border-b-purple-600;
}

.ease-transition {
  @apply ease-in-out duration-200;
}

.custom-input {
  @apply w-full max-w-xs h-8 border-l-0 border-r-0 rounded-sm;
}

.btn-main {
  @apply btn btn-accent text-white self-end p-0 px-4;
}

.flex-column {
  @apply flex flex-col gap-8;
}

.table {
  @apply grid grid-cols-3 gap-4;
}

.table-item {
  @apply bg-white p-4 text-center;
}

.table-header {
  @apply bg-gray-100 p-4 font-bold text-center;
}

.answer {
  @apply ml-4;
}

.edit-button {
  @apply btn btn-primary btn-xs rounded-md text-white font-bold;
}
.delete-button {
  @apply btn btn-secondary btn-xs rounded-md text-white font-bold;
}

.buttons-container {
  @apply absolute bottom-4 right-6 animate-none flex-row gap-2;
}

.correct-answer {
  position: relative;
  @apply text-green-600;
}

.correct-answer::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 2px;
  left: -20px;
  top: 52%;
  transform: rotate(45deg);
}
.correct-answer::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: -17px;
  top: 50%;
  transform: rotate(-45deg);
}

.correct-answer::before,
.correct-answer::after {
  background-color: #1dcdbc;
}
