@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.selected-option {
  background-color: rgba(126, 126, 126, 0.2);
}

.form {
  @apply flex flex-col md:w-[36rem] md:self-center [&>*]:border [&>*]:border-l-4 gap-8 mb-8 [&>*]:p-6  [&>*]:rounded-lg;
}

.form-header {
  @apply border-t-8  border-t-purple-800 rounded-lg p-6;
}

.title {
  @apply text-xl font-semibold;
}

.form-settings {
  @apply flex sm:items-center justify-between sm:flex-row flex-col gap-4;
}

.focus-border-left {
  @apply focus-within:border-l-4 focus-within:border-l-blue-600;
}

.focus-border-bottom {
  @apply border-b-2 border-transparent focus-within:border-b-2 focus-within:border-b-purple-600;
}

.ease-transition {
  @apply ease-in-out duration-200;
}

.custom-input {
  @apply w-full max-w-xs h-8 border-l-0 border-r-0 rounded-sm;
}

.btn-main {
  @apply btn btn-accent text-white self-end p-0 px-4;
}

.flex-column {
  @apply flex flex-col gap-8;
}

.table {
  @apply grid grid-cols-3 gap-4;
}

.table-item {
  @apply bg-white p-4 text-center;
}

.table-header {
  @apply bg-gray-100 p-4 font-bold text-center;
}
